/***

====================================================================
    Project Section One
====================================================================

***/

.project-section {
  position: relative;
  padding: 70px 0 90px;
  .sec-title {
    @include media-breakpoint-down(sm){
      margin-bottom: 40px;
    }
  }
}

// project block
.project-block{
  .inner-box{
    position: relative;
    margin-bottom: 30px;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color:rgba(var(--theme-color-black-rgb), .4);
      z-index: 9;
      @include transition(all 300ms ease);
    }
    &:hover {
      &:before {
        background-color:rgba(var(--theme-color-black-rgb), .64);
      }
      .box-caption {
        opacity: 1;
        visibility: visible;
        bottom: 30px;
      }
      .content-box {
        bottom: 110px;
        z-index: 9;
      }
      .image-box {
        figure {
          img {
            transform: scale(1.2);
          }
        }
      }
    }
    .box-caption {
      position: absolute;
      left: 30px;
      width: calc(100% - 60px);
      z-index: 99;
      border-top: 1px solid rgba(var(--theme-color-white-rgb), .2);
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      opacity: 0;
      visibility: hidden;
      bottom: 0;
      padding-top: 22px;
      @include transition(all 300ms ease);
      .book-btn {
        display: inline-block;
        height: 45px;
        line-height: 45px;
        padding: 0 20px;
        text-transform: uppercase;
        font-size: 14pxx;
        color: #ffffff;
        letter-spacing: 2px;
        border:1px solid rgba(255,255,255,0.50);
        &:hover {
          background-color: var(--theme-color1);
          border-color: transparent;
        }
      }
      .bx-links {
        margin-left: auto;
        li {
          display: inline-block;
          margin-right: 11px;
          &:last-child {
            margin-right: 0;
          }
          a {
            color: #fff;
            font-size: 16px;
          }
        }
      }
    }
    .image-box {
      figure {
        margin-bottom: 27px;
        overflow: hidden;
        img {
          @include transition(all 300ms ease);
          object-fit: cover;
          width: 100%;
        }
      }
    }
    .content-box{
      position: absolute;
      bottom: 30px;
      right: 32px;
      text-align: right;
      @include transition(all 300ms ease);
      z-index: 9;
      .category{
        color: var(--theme-color1);
        font-size: 14px;
        font-family: var(--text-font2);
        letter-spacing: 4.2px;
        text-transform: uppercase;
      }
      .title{
        font-size: 27px;
        margin-bottom: 0;
        margin-top: 8px;
        color: var(--theme-color-white);
      }
    }
    .image-box{
      .image-2{
        img{
          @include media-breakpoint-down(lg){
            width: 100%;
            height: 340px;
            object-fit: cover;
          }
        }
      }
    }
  }
}


/***

====================================================================
    Project Section Two
====================================================================

***/

.project-section-two {
  position: relative;
  padding: 120px 0 58px;
}

// project block two
.project-block-two{
  &.align-right {
    display: flex;
    justify-content: flex-end;
  }
  .inner-box{
    position: relative;
    margin-bottom: 55px;
    &.style-two {
      margin-top: 85px;
    }
    &:hover {
      .image-box {
        figure {
          img {
            transform: scale(1.2);
          }
        }
        .btn-box {
          opacity: 1;
          visibility: visible;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
    .image-box {
      display: inline-block;
      position: relative;
      margin-bottom: 20px;
      figure {
        margin-bottom: 0;
        overflow: hidden;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color:rgba(var(--theme-color-black-rgb), .2);
          z-index: 9;
          @include transition(all 300ms ease);
        }
        img {
          @include transition(all 300ms ease);
          object-fit: cover;
        }
      }
      .btn-box {
        background-color: var(--theme-color1);
        border-radius: 50%;
        color: var(--theme-color-white);
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100px;
        line-height: 100px;
        width: 100px;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        z-index: 99;
        transform: translate(-50%, -50%) scale(.5);
        @include transition(all 300ms ease);
        &:hover {
          .icon {
            transform: rotate(0deg);
          }
        }
        .icon {
          color: var(--theme-color-white);
          font-size: 40px;
          display: inline-block;
          transform: rotate(-35deg);
          @include transition(all 300ms ease);
        }
      }
    }
    .content-box{
      .title{
        font-size: 27px;
        margin-bottom: 0;
        margin-top: 8px;
        color: var(--theme-color-white);
      }
      .category{
        color: var(--theme-color1);
        font-size: 14px;
        font-family: var(--text-font2);
        letter-spacing: 4.2px;
        text-transform: uppercase;
      }
    }
  }
}


/***

====================================================================
    Project Section Three
====================================================================

***/

.project-section-three {
  position: relative;
  padding: 120px 0 90px;
  &.style-home9 {
    padding: 120px 0 70px;
    .anim-icons {
      img {
        bottom: 0;
      }
    }
  }
  .sec-title {
    .btn-box {
      margin-top: 30px;
    }
  }
  .anim-icons {
    img {
      position: absolute;
      bottom: 154px;
      left: 0;
      pointer-events: none;
    }
  }
}

// project block three
.project-block-three{
  .inner-box{
    position: relative;
    margin-bottom: 43px;
    &.style-two {
      margin-top: 140px;
      @include media-breakpoint-down(md){
        margin-top: 0;
      }
    }
    &:hover {
      .image-box {
        figure {
          &:after {
            opacity: 1;
          }
          img {
            transform: scale(1.2);
          }
        }
        .btn-box {
          opacity: 1;
          visibility: visible;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
    .image-box {
      display: inline-block;
      position: relative;
      margin-bottom: 18px;
      @include media-breakpoint-down(lg){
        display: block;
      }
      figure {
        margin-bottom: 0;
        overflow: hidden;
        &:after {
          background-color:rgba(var(--theme-color-black-rgb), .4);
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 9;
          opacity: 0;
          @include transition(all 300ms ease);
        }
        img {
          @include transition(all 300ms ease);
          object-fit: cover;
          @include media-breakpoint-down(lg){
            width: 100%;
          }
        }
      }
      .btn-box {
        background-color: var(--theme-color1);
        border-radius: 50%;
        color: var(--theme-color-white);
        position: absolute;
        left: 50%;
        top: 50%;
        height: 70px;
        line-height: 70px;
        width: 70px;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        z-index: 99;
        transform: translate(-50%, -50%) scale(.5);
        @include transition(all 300ms ease);
        &:hover {
          .icon {
            transform: rotate(0deg);
          }
        }
        .icon {
          color: var(--theme-color-white);
          font-size: 32px;
          display: inline-block;
          transform: rotate(-35deg);
          @include transition(all 300ms ease);
        }
      }
    }
    .content-box{
      text-align: center;
      .title{
        margin-bottom: 7px;
        color: var(--theme-color-white);
      }
      .category{
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}

/***

====================================================================
    Project Section Four
====================================================================

***/

.project-section-four {
  position: relative;
  padding: 90px 0 23px;
}

// project block four
.project-block-four{
  &.align-right {
    display: flex;
    justify-content: flex-end;
  }
  .inner-box{
    position: relative;
    margin-bottom: 97px;
    &.style-one {
      margin-left: -30px;
    }
    &.style-two {
      margin-left: 70px;
      margin-top: 131px;
      @include media-breakpoint-down(md){
        margin-top: 0;
        margin-left: 0;
      }
    }
    &:hover {
      .image-box {
        figure {
          img {
            transform: scale(1.2);
          }
        }
        .btn-box {
          opacity: 1;
          visibility: visible;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
    .image-box {
      display: inline-block;
      position: relative;
      margin-bottom: 0;
      figure {
        margin-bottom: 0;
        overflow: hidden;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color:rgba(var(--theme-color-black-rgb), .2);
          z-index: 9;
          @include transition(all 300ms ease);
        }
        img {
          @include transition(all 300ms ease);
          object-fit: cover;
        }
      }
      .btn-box {
        background-color: var(--theme-color1);
        border-radius: 50%;
        color: var(--theme-color-white);
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100px;
        line-height: 100px;
        width: 100px;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        z-index: 99;
        transform: translate(-50%, -50%) scale(.5);
        @include transition(all 300ms ease);
        &:hover {
          .icon {
            transform: rotate(0deg);
          }
        }
        .icon {
          color: var(--theme-color-white);
          font-size: 40px;
          display: inline-block;
          transform: rotate(-35deg);
          @include transition(all 300ms ease);
        }
      }
    }
    .content-box{
      background-color: var(--theme-color-black3);
      padding: 30px 31px 31px;
      max-width: 499px;
      margin-top: -113px;
      position: relative;
      z-index: 1;
      &.style-two {
        margin-left: 168px;
        margin-right: -168px;
        @include media-breakpoint-down(lg){
          margin-left: 0;
          margin-right: 15px;
        }
      }
      &.style-three {
        margin-top: -8px;
        padding: 30px 31px 31px;
        .title {
          margin-bottom: 0;
        }
        .theme-btn-link {
          background-color: var(--theme-color-black3);
          padding: 11px 24px;
          position: absolute;
          right: 0;
          top: -46px;
        }
      }
      .text {
        color: var(--theme-color-white);
        margin-bottom: 11px;
      }
      .title{
        color: var(--theme-color-white);
        line-height: 28px;
        margin-bottom: 28px;
        margin-top: 8px;
        max-width: 350px;
      }
      .theme-btn-link {
        color: var(--text-color);
        font-size: 14px;
        .icon {
          font-size: 11px;
          margin-left: 5px;
          position: relative;
          top: -1px;
        }
      }
    }
  }
}

/***

====================================================================
    Project Section Five
====================================================================

***/

.project-section-five {
  position: relative;
  padding: 120px 0 80px;
  .sec-title {
    .btn-box {
      margin-top: 35px;
    }
  }
}

// project block five
.project-block-five{
  .inner-box{
    position: relative;
    margin-bottom: 40px;
    &:hover {
      .image-box {
        figure {
          img {
            transform: scale(1.2);
          }
        }
        .btn-box {
          opacity: 1;
          visibility: visible;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
    .image-box {
      display: inline-block;
      position: relative;
      margin-bottom: 0;
      .image-1 {
        margin-bottom: 0;
        overflow: hidden;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color:rgba(var(--theme-color-black-rgb), .2);
          z-index: 9;
          @include transition(all 300ms ease);
        }
        img {
          @include transition(all 300ms ease);
          object-fit: cover;
        }
      }
      .btn-box {
        background-color: var(--theme-color1);
        border-radius: 50%;
        color: var(--theme-color-white);
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100px;
        line-height: 100px;
        width: 100px;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        z-index: 99;
        transform: translate(-50%, -50%) scale(.5);
        @include transition(all 300ms ease);
        &:hover {
          .icon {
            transform: rotate(0deg);
          }
        }
        .icon {
          color: var(--theme-color-white);
          font-size: 40px;
          display: inline-block;
          transform: rotate(-35deg);
          @include transition(all 300ms ease);
        }
      }
    }
    .content-box{
      border-bottom: 1px solid rgba(var(--theme-color-white-rgb), .1);
      position: relative;
      padding-bottom: 27px;
      margin-top: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include media-breakpoint-down(lg){
        display: block;
      }
      .text {
        color: var(--theme-color1);
        font-size: 14px;
        font-family: var(--text-font2);
        letter-spacing: .3em;
        margin-bottom: 17px;
        text-transform: uppercase;
      }
      .title{
        color: var(--theme-color-white);
        margin-bottom: 0;
        @include media-breakpoint-down(lg){
          margin-bottom: 20px;
        }
      }
      .theme-btn-link {
        color: var(--text-color);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: .5px;
        .icon {
          font-size: 16px;
          margin-left: 7px;
          position: relative;
          top: 1px;
          transform: rotate(-45deg);
        }
        &:hover {
          color: var(--theme-color1);
        }
      }
    }
  }
}


/***

====================================================================
    Project Section Six
====================================================================

***/

.project-section-six {
  position: relative;
  padding: 120px 0 112px;
  .sec-title {
    margin-bottom: 0;
    h2 {
      line-height: 1;
    }
    .text {
      max-width: 370px;
      margin-top: 42px;
      padding-bottom: 0;
    }
    .btn-box {
      display: flex;
      justify-content: flex-end;
      @include media-breakpoint-down(lg){
        display: block;
      }
      .theme-btn {
        padding: 19.4px 66px 21.4px;
        @include media-breakpoint-down(lg){
          margin-top: 30px;
        }
      }
    }
  }
}

// project block six
.project-block-six{
  &.align-right {
    display: flex;
    justify-content: flex-end;
  }
  .inner-box{
    position: relative;
    &.style-one {
      margin-top: 225px;
      @include media-breakpoint-down(md){
        margin-top: 40px;
      }
    }
    &.style-two {
      margin-top: -73px;
      @include media-breakpoint-down(lg){
        margin-top: 30px;
      }
    }
    &.style-three {
      margin-top: 210px;
      @include media-breakpoint-down(md){
        margin-top: 40px;
      }
    }
    &.style-four {
      margin-top: -52px;
      @include media-breakpoint-down(md){
        margin-top: 40px;
      }
    }
    &.style-five {
      margin-top: 150px;
      @include media-breakpoint-down(md){
        margin-top: 40px;
      }
    }
    &.style-six {
      margin-top: 10px;
    }
    &:hover {
      .image-box {
        .image-1 {
          img {
            transform: scale(1.2);
          }
        }
        .btn-box {
          opacity: 1;
          visibility: visible;
          transform: scale(1);
        }
      }
    }
    .image-box {
      display: inline-block;
      position: relative;
      margin-bottom: 28px;
      .image-1 {
        margin-bottom: 0;
        overflow: hidden;
        img {
          @include transition(all 300ms ease);
          object-fit: cover;
        }
      }
      .btn-box {
        background-color: var(--theme-color-white);
        border-radius: 50%;
        color: var(--theme-color-black6);
        position: absolute;
        right: 40px;
        top: 40px;
        height: 70px;
        line-height: 70px;
        width: 70px;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        z-index: 99;
        transform: scale(.5);
        @include transition(all 300ms ease);
        &:hover {
          background-color: var(--theme-color1);
          color: var(--theme-color-white);
          .icon {
            color: var(--theme-color-white);
            transform: rotate(0deg);
          }
        }
        .icon {
          color: var(--theme-color-black6);
          font-size: 30px;
          display: inline-block;
          transform: rotate(-35deg);
          @include transition(all 300ms ease);
        }
      }
    }
    .content-box{
      .title{
        font-size: 27px;
        margin-bottom: 6px;
        color: var(--theme-color-white);
      }
      .category{
        color: var(--theme-color1);
        font-size: 14px;
        font-family: var(--text-font2);
        letter-spacing: 4.2px;
        text-transform: uppercase;
      }
    }
  }
}


/***

====================================================================
    Gallery Section One
====================================================================

***/

.gallery-section-one {
  padding: 120px 0 90px;
}

.filters-style-one {
  margin-bottom: 25px;
  .filter-tabs {
    border-bottom: 1px solid rgba(var(--theme-color-white-rgb), .2);
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(xl){
      justify-content: center;
    }
    @include media-breakpoint-down(sm){
      display: block;
      text-align: center;
    }
    .filter {
      color: var(--theme-color-white);
      cursor: pointer;
      font-family: var(--title-font);
      font-size: 18px;
      min-width: 173px;
      text-align: center;
      position: relative;
      padding-bottom: 9px;
      margin-right: 76px;
      @include transition(all 300ms ease);
      @include media-breakpoint-down(xl){
        margin-right: 15px;
      }
      @include media-breakpoint-down(lg){
        min-width: auto;
        margin-right: 20px;
      }
      @include media-breakpoint-down(sm){
        display: inline-block;
        margin-bottom: 10px;
      }
      &:last-child {
        margin-right: 0;
      }
      &:after {
        background-color: var(--theme-color1);
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0%;
        @include transition(all 300ms ease);
      }
      &.active {
        &:after {
          width: 100%;
        }
      }
    }
  }
}

.gallery-block-one {
  &.mix {
    display: none;
  }
  .inner-box {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    &:hover {
      .content-box {
        opacity: 1;
        visibility: visible;
        transform: translate(0);
        .title {
          opacity: 1;
          visibility: visible;
          transform: translate(0);
        }
        .theme-btn {
          opacity: 1;
          visibility: visible;
          transform: translate(0);
        }
      }
      .image-box{
        img{
          transform: scale(1.1);
        }
      }
    }
    .image-box {
      .image{
        position: relative;
        overflow: hidden;
        img{
          @include transition(all 300ms ease);
          @include media-breakpoint-down(sm){
            height: auto;
          }
        }
      }
    }
  }
  .content-box {
    background-color: #222222;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 30px;
    position: absolute;
    visibility: hidden;
    transform: translateY(100%);
    z-index: 2;
    @include transition(all 300ms ease);
    @include media-breakpoint-down(sm){
      padding: 20px;
    }
    .title {
      color: var(--theme-color-white);
      margin-bottom: 0;
      opacity: 0;
      visibility: hidden;
      transform: translateY(100%);
      @include transition(all 300ms ease);
      @include media-breakpoint-down(sm){
        font-size: 20px;
      }
    }
    .theme-btn {
      color: #6A6F78;
      font-family: 'Barlow';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      transform: translateY(100%);
      visibility: hidden;
      @include transition(all 300ms ease);
      &:before {
        display: none;
      }
    }
  }
}