//Root 

:root {

  //Default colors
  --theme-color-light: #ffffff;
  --theme-color-white: #ffffff;
  --theme-color-white-rgb: 255,255,255;
  --theme-color-dark: #222222;
  --theme-color-dark6: #666666;
  --theme-color-dark-rgb: 34,34,34;
  --theme-color-gray: #F6F6F6;
  --theme-color-black: #000;
  --theme-color-black-rgb: 0,0,0;
  --theme-color-black1: #272727;
  --theme-color-black2: #323232;
  --theme-color-black2-rgb: 50,50,50;
  --theme-color-black3: #313131;
  --theme-color-black4: #1B1B1B;
  --theme-color-black5: #0D0C0C;
  --theme-color-black6: #1A1A1A;
  --theme-color-black7-rgb: 55,56,58;
  
  //theme colors
  --theme-color1: #aa8453;
  --theme-color1-rgb: 170, 132, 83;
  --theme-color2: #fdece3;
  --theme-color3: #faf7f2;
  --theme-color4: #cab293;
  --theme-color5: #cb935d;
  
  --bg-theme-color1: var(--theme-color1);
  --bg-theme-color2: var(--theme-color2);
  --bg-theme-color3: var(--theme-color3);
  --bg-theme-color4: var(--theme-color4);


  --text-color-bg-theme-color1: #fff;
  --text-color-bg-theme-color2: #fff;
  --text-color-bg-theme-color3: #fff;
  

  //Gradients
  --gradient-1: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.64) 42%, rgba(0, 0, 0, 0.32) 100%);
  --gradient-2: linear-gradient(rgba(var(--theme-color1-rgb), 1), rgba(var(--theme-color1-rgb), 0) 100%);
  --gradient-3: linear-gradient(90deg, #1B1B1B 22.87%, rgba(27, 27, 27, 0.70) 91.19%);
  --gradient-4: linear-gradient(180deg, rgba(0, 0, 0, 0.63) 5.01%, rgba(0, 0, 0, 0.63) 31.84%, rgba(0, 0, 0, 0.57) 100%);


  //text heading color
  --text-color:       #999999;
  --headings-color:   #999999;
  --review-color:     #ffc737;
  --link-color:         var(--headings-color);
  --link-hover-color:   var(--headings-color);


  //font family
 --title-font: 'Gilda Display', serif;
 --text-font : "Barlow", sans-serif;
 --text-font2 : 'Barlow Condensed', sans-serif;
 --text-font3 : "Vujahday Script", cursive;

  //body
  --body-font-size:   16px;
  --body-line-height: 1.75;
  --body-font-weight: 400;

  //heading font size + weight
  --line-height-heading-h1: 1.2em;
  --line-height-heading: 1.2;
  --line-height-heading-small: 1.33em;

  --h1-font-size: 72px;
  --h2-font-size: 54px;
  --h3-font-size: 36px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --h6-font-size: 20px;

  --h1-font-weight: 400;
  --h2-font-weight: 400;
  --h3-font-weight: 400;
  --h4-font-weight: 400;
  --h5-font-weight: 400;
  --h6-font-weight: 400;

  //section sub title
  --sec-title-subtitle-font-size:   14px;
  --sec-title-subtitle-color:       var(--theme-color1);
  --sec-title-subtitle-font-family: var(--text-font);
  --sec-title-subtitle-font-weight: 700;
  --sec-title-subtitle-line-height: 20px;

  //section title
  --sec-title-color:        var(--theme-color-white);
  --sec-title-font-size:    var(--h2-font-size);
  --sec-title-font-family:  var(--title-font);
  --sec-title-font-weight: var(--h2-font-weight);

  //news details page
  --theme-light-background: #F2F3F5;
  --theme-light-background-text-color: var(--headings-color);
  --theme-black:        #131313;


  //container
  --container-width: 1200px;
  --small-container-width: 1000px;
  --large-container-width: 1760px;
  --container-pt:    120px;
  --container-pb:    120px;
}
